{% extends "base.html" %}

{% block content %}

<!-- <hr> -->
<h3>Voolkia Software & Services</h3>
<h5>Jun ‘18 - Actualidad</h5>
<p class="cv"><strong>Lider de Proyecto: </strong> Planificación, control y gestión en Category & Catalog Navigation para Mercado Libre. Motivación de equipos, involucramiento y logro de KPI’s. Lectura e implementación de métricas. Utilización de metodologías ágiles. Construcción de equipos mediante feedbacks, plan de desarrollo de carrera por colaborador, acompañamiento personalizado.</p>
<h5>Patagones 2665, CABA.</h5>

<h3>SuperCar Miami Group</h3>
<h5>Sep ‘18 - Mayo ‘19</h5>
<p class="cv"><strong>General Manager: </strong> Supervisión general de la empresa, tanto de la parte financiera como la parte administrativa y
operativa.</p>
<h5>Miami, FL</h5>

<h3>Wireless Inc.</h3>
<h5>Jun ‘12 - Dic '13</h5>
<p class="cv"><strong>General Manager: </strong> Procesamiento de facturas, formación de ordenes de compra, manejo del flujo de caja, análisis de decisiones estrategicas del sector, seguimiento de clientes, presentacion de informes, coordinador del personal de planta.</p>
<h5>Miami, FL</h5>
<h3>WM Consultora</h3>
<h5>Sep ‘08 - May ‘17</h5>
<p class="cv"> <strong>General Manager: </strong> Desempeñe tareas de manejo de agenda, generación de nuevos negocios, búsqueda de nuevos proyectos. En junio de 2009 me traslade a la sucursal de Miami donde era el responsable de la logística en cuanto al armado, traslado y seguimiento de los containers de la empresa.</p>
<h5>Buenos Aires >> Miami, FL</h5>

<div class="add-skill">
    <ul>
        <h3><em>Additional Skills</em></h3>
        <li class="x">Comercial Marketing</li>
        <li class="x">Coaching</li>
        <li class="x">Liderazgo Estrategico</li>
        <li class="x">SCRUM Management</li>
        <li class="x">SQL Semi-Senior</li>
        <li class="x">Programacion Python Basico</li>
        <li class="x">PowerBI Basico</li>
    </ul>
    <ul>
        <h3><em>Languagues</em></h3>
        <li class="x">Native English</li>
        <li class="x">Basic Portuguese</li>
        <li class="x">Basic German</li>
        <li class="x">Basic French</li>
    </ul>



</div>

{% endblock %}