<!DOCTYPE html>
<html>
<head>
    <title>Matias Alvarez Fernandez</title>
</head>
<body>
    <header id="showcase" class="grid">
        <div class="maf-image"></div>
        <h1>Welcome to my Portfolio</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#section-b" class="btn">Read More</a>
    </header>

    <!-- Main Area -->
    <main id="main">
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Some info about me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. </p>
            </div>
        </section>
    </main>

</body>
</html>